$brown: #373737;
$padding_small: 0.5em;
$border_radius: 0.5em;

.input {
	border-width: 0.2em;
	border-style: solid;
	border-color: $brown;
	border-radius: $border_radius;
	padding: $padding_small;
	font-size: larger;
	font-weight: 600;
	background-color: transparent;

	&.gray {
		border-color: gray;
	}
	&:focus {
		background-color: white;
		outline: none;
		color: $brown;
		border-color: $brown;
	}
}

.dnd-grid {
	display: grid;
	grid-template-rows: auto 3em auto;
	padding-left: $padding_small;
	padding-right: $padding_small;
	grid-template-areas:
	'table'
	'.'
	'log';
	
	@media (min-width: 1000px) {
		grid-template-rows: none;
		grid-template-columns: minmax(3em, auto) minmax(4em, 4fr) 3em minmax(4em, 4fr) minmax(3em, auto);
		grid-template-areas: '. table . log .';	
	}

	.dnd-table {
		grid-area: table;
	}

	.dnd-log {
		grid-area: log;
	}
}


.error {
	border-color: red !important;
}

.dice-input-wrapper {
	position: relative;
	display: flex;

	.dice-input {
		@extend .input;
		margin: $padding_small;
		margin-right: 0;
		border-top-right-radius: 0;
		border-bottom-right-radius: 0;
		width: calc(100% - 5em);	
	}
	.roll-all-button {
		width: 4.5em;
		margin: 0.6em 0;
		padding: $padding_small;
		border-top-left-radius: 0;
		border-bottom-left-radius: 0;
	}
}

.dice-table {
	table-layout: fixed;
	border-collapse: collapse;
	width: 100%;
	margin-top: $padding_small;

	td {
		height: 3em;
		padding: 0.1em;
		@media (min-width: 400px) {
			height: 4em;
			padding: $padding_small;			
		}
	}

	.gray {
		color: gray;
	}

	.td-input {
		.table-input {
			@extend .input;
			height: 100%;
			width: 100%;
		}
	}

	.td-modifier-input {
		display: flex;
	
		.dnd-modifier-dropdown {
			margin-right: 0;
			height: 100%;
			border-top-left-radius: 0.5em;
			border-bottom-left-radius: 0.5em;
			border-top-right-radius: 0;
			border-bottom-right-radius: 0;
			width: 2.5em;
			display: flex;
			align-items: center;

			&.error {
				background-color: red;
				div.text {
					color: white;
				}
			}
			&.gray {
				background-color: gray;
			}

			div.text {
				font-size: 2em;
				position: relative;
				right: -0.1em;
			}
			.icon {
				visibility: hidden;
			}
			.menu {
				width: 100%;
				border-top-left-radius: 0;
				border-top-right-radius: 0;
				border-bottom-left-radius: 0.5em;
				border-bottom-right-radius: 0.5em;
				.item {
					padding: 0.8em !important;
					text-align: center;

					.text {
						font-size: 1.5em;
					}
					&:hover {
						background-color: $brown;
						color: white;
					}
				}
			}
		}

		.table-input {
			@extend .input;
			height: 100%;
			width: calc(100% - 2em);
			border-top-left-radius: 0;
			border-bottom-left-radius: 0;
		}
	}

	.td-button {
		.roll-button {
			height: 100%;
			width: 100%;
			padding: 0.5em;
		}
	}

	.td-dice {
		position: relative;

		i {
			font-size: 2em;
			top: 0.25em;
			position: absolute;
			line-height: 1em;
			@media (min-width: 400px) {
				top: 0.15em;
				font-size: 3em;
			}
		}
	}

	.td-result {
		text-align: center;
		p {
			font-weight: 600;
			font-size: large;
		}
	}
}
tfoot {
	td, th {
		border: 0;
	}
}

.reset-button {
	background-color: darken(crimson, 10%) !important;
	color: white !important;
}

#col-dice {
	width: 2.5em;
	@media (min-width: 400px) {
		width: 4em;
	}
}

#col-roll {
	width: 3em;
	@media (min-width: 400px) {
		width: 5em;
	}
}

#col-result {
	width: 5em;
}

.log-log {
	max-height: 60vh;
	overflow-y: auto;
	overflow-x: hidden;
}

.log-container {
	padding-top: 0.8em;

	.log-header {
		position: relative;
		border-top-left-radius: $border_radius !important;
		border-top-right-radius: $border_radius !important;
		background-color: $brown !important;
		color: white;

		.log-reset-button {
			position: absolute;
			padding: 0.4em;
			right: 0.2em;
			top: 0.5em;
			width: 4em;
			background-color: white;
			color: $brown;

			&:hover {
				background-color: darken(crimson, 10%);
				color: white;
			}
		}
	}

	.log-log {
		.log-time {
			color: gray;
			float: right;
		}
		.segment:hover {
			background-color: lightblue;
		}
		&:last-child {
			border-bottom-left-radius: $border_radius;
			border-bottom-right-radius: $border_radius;
		}
	}
}
